.video-central-metaboxes-choice-list li{
	line-height: 22px;
}

li .video-central-metaboxes-choice-list {
	margin-left: 15px;
}

.video-central-metaboxes-select-tree {
	display: inline-block;
}

.video-central-metaboxes-select-tree.hidden {
	display: none;
}