.video-central-metaboxes-select {
	min-width: 160px;
}
.video-central-metaboxes-select option {
    padding: .5rem 1rem;
}
.video-central-metaboxes-select-all-none {
	display: block;
	margin-top: 5px;
}
