#adminmenu #menu-posts-video a div.wp-menu-image,
#adminmenu #menu-posts-video:hover a div.wp-menu-image,
#adminmenu #menu-posts-video.wp-has-current-submenu a div.wp-menu-image {
    background-position: 8px 10px !important;
}

.import-progress {
    position: relative;

    background: #ddd;
    border-bottom: 1px solid #fff;

    height: 5px;
    width: 100%;

    margin-bottom: 15px;

    .import-progress-inner {
        position: absolute;
        left: 0;
        top: 0;
        height: 5px;
        transition: width 4s ease-in-out;
        background: #36b1d9;
        background: linear-gradient(to right, #36b1d9 0, #56cdb3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36b1d9', endColorstr='#56cdb3', GradientType=1);

        &.done {
            animation-duration:1s;
            animation-play-state:paused;
        }
    }

}

label.video_central_error {
    color:red;
    font-weight:bold;
}

input.video_central_error {
    border:1px red solid;
}

h2.video-central-ajax-response {
	text-align: center;
	font-size: 16px;
}

.video-central-ajax-response-status {
    font-size:12px;
    line-height:20px;
    padding-top:2px;
    padding-bottom:2px;
    background-position:left center;
    background-repeat:no-repeat;
}

.video-central-ajax-response-status.loading{
    font-style:italic;
}

.video-central-ajax-response-status.error{
    color:#FF0000;
}

.video-central-ajax-response-status.success{
     color:#000;
}

@keyframes videojsloading {
  0% { background-position: 0 0; }
  100% { background-position: 80px 0; }
}
@-webkit-keyframes videojsloading {
  0% { background-position: 0 0; }
  100% { background-position: 80px 0; }
}
@-moz-keyframes videojsloading {
  0% { background-position: 0 0; }
  100% { background-position: 80px 0; }
}


/* Progress bar */
@mixin prefix($property, $value) {
    #{$property}: #{$value};
}

$bg: #f8f8f8;
$ltgrey: #ccc;
$grey: #DDDDDD;
$medgrey: #555;
$dkgrey: #888;
$black: #222;
$highlight: #ea463d;

.wizard-container {
	width: 99%;
	overflow: hidden;
	height: 100%;

	 h1 {
		text-align: center;
		margin: 20px 0 0;
	}

	#message { display: none; }

	.clear { clear: both; }

	.progress_bar {
	    max-width: 820px;
	    width: 77%;
	    margin: 35px auto 0;
	    position: relative;
	    height: 50px;
	    z-index: 10;

	    hr.all_steps {
	        width: 77%;
	        height: 7px;
	        border: none;
	        background: $grey;
	        border-bottom: 1px solid #fff;
	        position: absolute;
	        bottom: 10px;
	        left: 10%;
	        z-index: 1;
	    }

	    hr.current_steps {
	        width: 0;
	        border: 0;
	        height: 5px;
	        background: $highlight;
	        position: absolute;
	        bottom: 12px;
	        left: 11.8%;
	        z-index: 3;
	    }

	    #step1 {
	    	left: -13px;
	    }

	    div.step {
	        float: left;
	        width: 25%;
	        height: 50px;
	        text-align: center;
	        font-size: 12px;
	        color: $ltgrey;
	        position: relative;
	        text-shadow: 1px 1px #fff;
	        @include prefix(transition, all 0.3s ease-in);

	        &:before {
	            position: absolute;
	            width: 12px;
	            height: 12px;
	            border-radius: 20px;
	            border: 2px solid transparent;
	            background: $highlight;
	            bottom: 14px;
	            left: 50%;
	            margin-left: -6px;
	            content: '';
	            z-index: 4;
	            display: none;
	        }

	        &:after {
	            position: absolute;
	            width: 16px;
	            height: 16px;
	            border-radius: 20px;
	            border: 2px solid $grey;
	            background: $grey;
	            bottom: 12px;
	            left: 50%;
	            margin-left: -8px;
	            content: '';
	            z-index: 2;
	        }

	        &.current {
	            color: $black;
	            &:before {display: block;}
	        }

	        &.complete {
	            color: $dkgrey;
	            cursor: pointer;
	            &:before {display: block;}
	            &:hover {color: $medgrey;}
	        }

	    }

	}

	#blocks {
	    width: 100%;
	    position: relative;
	    height: 500px;

	    .block {
	        position: absolute;
	        width: 100%;
	        left: 100%;
	        background-color: #f1f1f1;
	        .wrap { margin: 0 auto;}

	        .video-central-import-source-tab {
	        	text-align: center;
	        	margin-top: 15px;

	        	.video-central-tab-select {

	        	    a {
	        	        display: block;

	        	        &:hover img { border-color: 3px solid rgba(197, 204, 211, 1); }
	        	    }

	        	    img {
	        	        border-radius: 3px;
	        	        border: 3px solid rgba(197, 204, 211, 0.21);
	        	        padding: 5px;
	        	        display: block;
	        	        text-align: center;
	        	        margin: 0 auto;
	        	    }

	        	}

	        }

	        .video-central-import-parameters-description {
	        	text-align: center;
	        }

	        #video-central-import-parameters {

	        	label {
	        	 	display: block;
	        	 	font-weight: bold;
	        	 	margin-bottom: 5px;
	        	 }

	        	 .description {
	        	 	color: #A8A8A7;
	        	 }

	        	 table {
	        	   width: 60%;
	        	   margin: 20px auto 0;
	        	 }

	        	 table > thead > tr > th,
	        	 table > tbody > tr > th,
	        	 table > tfoot > tr > th,
	        	 table > thead > tr > td,
	        	 table > tbody > tr > td,
	        	 table > tfoot > tr > td {
	        	   padding: 8px;
	        	   line-height: 1.42857143;
	        	   vertical-align: top;
	        	   border-top: 1px solid #ddd;
	        	 }

	        	 table > thead > tr > th {
	        	   vertical-align: bottom;
	        	   border-bottom: 2px solid #ddd;
	        	 }

	        	 table > caption + thead > tr:first-child > th,
	        	 table > colgroup + thead > tr:first-child > th,
	        	 table > thead:first-child > tr:first-child > th,
	        	 table > caption + thead > tr:first-child > td,
	        	 table > colgroup + thead > tr:first-child > td,
	        	 table > thead:first-child > tr:first-child > td {
	        	   border-top: 0;
	        	 }

	        	 table > tbody + tbody {
	        	   border-top: 2px solid #ddd;
	        	 }

	        	 table table {
	        	   background-color: #fff;
	        	 }

	        	 table col[class*="col-"] {
	        	   position: static;
	        	   display: table-column;
	        	   float: none;
	        	 }

	        	 table td[class*="col-"],
	        	 table th[class*="col-"] {
	        	   position: static;
	        	   display: table-cell;
	        	   float: none;
	        	 }

	        	 table > thead > tr > td.active,
	        	 table > tbody > tr > td.active,
	        	 table > tfoot > tr > td.active,
	        	 table > thead > tr > th.active,
	        	 table > tbody > tr > th.active,
	        	 table > tfoot > tr > th.active,
	        	 table > thead > tr.active > td,
	        	 table > tbody > tr.active > td,
	        	 table > tfoot > tr.active > td,
	        	 table > thead > tr.active > th,
	        	 table > tbody > tr.active > th,
	        	 table > tfoot > tr.active > th {
	        	   background-color: #f5f5f5;
	        	 }

	        	 table > thead > tr > td.success,
	        	 table > tbody > tr > td.success,
	        	 table > tfoot > tr > td.success,
	        	 table > thead > tr > th.success,
	        	 table > tbody > tr > th.success,
	        	 table > tfoot > tr > th.success,
	        	 table > thead > tr.success > td,
	        	 table > tbody > tr.success > td,
	        	 table > tfoot > tr.success > td,
	        	 table > thead > tr.success > th,
	        	 table > tbody > tr.success > th,
	        	 table > tfoot > tr.success > th {
	        	   background-color: #dff0d8;
	        	 }

	        	 table > thead > tr > td.info,
	        	 table > tbody > tr > td.info,
	        	 table > tfoot > tr > td.info,
	        	 table > thead > tr > th.info,
	        	 table > tbody > tr > th.info,
	        	 table > tfoot > tr > th.info,
	        	 table > thead > tr.info > td,
	        	 table > tbody > tr.info > td,
	        	 table > tfoot > tr.info > td,
	        	 table > thead > tr.info > th,
	        	 table > tbody > tr.info > th,
	        	 table > tfoot > tr.info > th {
	        	   background-color: #d9edf7;
	        	 }

	        	 p.submit {
	        	 	text-align: center;
	        	 	padding: 0;
	        	 	margin: 0;
	        	 }

	        }

	    }

	}

	#video-central-import-table {
		.alignleft.actions.bulkactions {
			display: none;
		}
	}

	.button {
		margin-right: 5px;
	}

	.import-global-loading {
		width: 100px;
		height: 100px;
		background: url('../images/loader.gif') no-repeat center center;
		background-color: #fff;
		display: none;
		position: fixed;
		z-index: 999;
		top: 50%;
		left: 50%;
		border-radius: 3px;
	}

	.import-global-message {
	    z-index: 11;
 	    width: 500px;
	    position: fixed;
	    left: 38%;
	    top: 50%;
	    margin-top: -30px;
	    margin-left: -30px;
	    padding: 20px;
	    background-color: #C60F13;
	    border-radius: 2px;
	    color: #FFF;
	    line-height: 20px;
	    display: none;
	}

}
