/* Mixins
----------------------------------------------- */
/* Extends
----------------------------------------------- */
.video-central-playlist-dashicon, .video-central-playlist-video-title .video-central-playlist-video-toggle, .video-central-playlist-video-audio-group .video-central-playlist-video-audio-selector:before, .video-central-playlist-video-audio .mejs-controls .mejs-playpause-button button, .video-central-playlist-video-artwork:before {
  cursor: pointer;
  display: inline-block;
  font-family: "dashicons";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-decoration: inherit;
  vertical-align: top; }

.post-type-video_central_playlist #titlediv {
  margin-bottom: 10px; }

.video-central-playlist-videolist {
  list-style: none;
  margin: 0;
  padding: 0; }

.video-central-playlist-video {
  background: #fff;
  margin: 10px 0 0 0;
  padding: 0; }
  .video-central-playlist-video.ui-sortable-helper {
    background: #f9f9f9;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf; }

.video-central-playlist-video-title {
  background: #fafafa;
  border: 1px solid #dfdfdf;
  cursor: move;
  margin: 0;
  padding: 10px 20px;
  position: relative; }
  .video-central-playlist-video-title .video-central-playlist-video-toggle {
    font-size: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    vertical-align: middle;
    width: 40px; }
    .video-central-playlist-video-title .video-central-playlist-video-toggle:before {
      box-sizing: border-box;
      color: #aaa;
      content: "\f140";
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 0;
      vertical-align: middle; }
    .video-central-playlist-video-title .video-central-playlist-video-toggle:hover:before {
      color: #777; }
    .is-open .video-central-playlist-video-title .video-central-playlist-video-toggle:before {
      content: "\f142"; }
  .video-central-playlist-video-title:hover {
    border-color: #999; }

.video-central-playlist-video-inside {
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  display: none;
  margin: 0;
  padding: 10px; }
  .video-central-playlist-video-inside input.regular-text {
    max-width: 100%; }
  .is-open .video-central-playlist-video-inside {
    display: block; }

.video-central-playlist-video-audio-group {
  border-bottom: 1px solid #e5e5e5;
  margin: 0 -10px 20px;
  min-height: 27px;
  padding: 0 10px 10px 150px;
  position: relative; }
  .video-central-playlist-video-audio-group:before, .video-central-playlist-video-audio-group:after {
    content: " ";
    display: table; }
  .video-central-playlist-video-audio-group:after {
    clear: both; }
  .video-central-playlist-video-audio-group .video-central-playlist-video-audio-selector {
    float: left;
    margin: 0;
    padding-right: 7px;
    padding-left: 5px;
    position: absolute;
    top: 0;
    left: 10px;
    width: 120px; }
    .video-central-playlist-video-audio-group .video-central-playlist-video-audio-selector:before {
      color: #888;
      content: "\f127";
      font-size: 16px;
      height: 18px;
      margin: 0 5px 0 2px;
      vertical-align: text-top;
      width: 18px; }

.video-central-playlist-video-audio .mejs-container {
  background: #fff;
  height: 30px;
  max-width: 100%;
  width: 100%; }
.video-central-playlist-video-audio .mejs-controls {
  background: none;
  background: #fff;
  height: 30px;
  margin: 0;
  padding: 0; }
  .video-central-playlist-video-audio .mejs-controls .mejs-playpause-button {
    height: 30px;
    width: 30px; }
    .video-central-playlist-video-audio .mejs-controls .mejs-playpause-button button {
      background: none;
      color: #555;
      font-size: 20px;
      height: 30px;
      margin: 0;
      width: 30px; }
      .video-central-playlist-video-audio .mejs-controls .mejs-playpause-button button:focus {
        outline: 0; }
  .video-central-playlist-video-audio .mejs-controls .mejs-pause button:before {
    content: "\f523"; }
  .video-central-playlist-video-audio .mejs-controls .mejs-play button:before {
    content: "\f522"; }
  .video-central-playlist-video-audio .mejs-controls .mejs-time {
    height: 30px;
    line-height: 29px;
    padding: 1px 3px 0; }
  .video-central-playlist-video-audio .mejs-controls .mejs-time,
  .video-central-playlist-video-audio .mejs-controls .mejs-time span {
    color: #555;
    font-weight: normal; }
  .video-central-playlist-video-audio .mejs-controls .mejs-time-rail {
    background-clip: padding-box;
    border-radius: 2px;
    height: 30px;
    margin: 0 5px;
    padding-top: 10px 0 0 0; }
    .video-central-playlist-video-audio .mejs-controls .mejs-time-rail .mejs-time-buffering,
    .video-central-playlist-video-audio .mejs-controls .mejs-time-rail .mejs-time-current,
    .video-central-playlist-video-audio .mejs-controls .mejs-time-rail .mejs-time-loaded,
    .video-central-playlist-video-audio .mejs-controls .mejs-time-rail .mejs-time-slider {
      margin: 0; }
    .video-central-playlist-video-audio .mejs-controls .mejs-time-rail .mejs-time-handle {
      display: none; }
    .video-central-playlist-video-audio .mejs-controls .mejs-time-rail .mejs-time-loaded {
      background: #999; }
    .video-central-playlist-video-audio .mejs-controls .mejs-time-rail .mejs-time-total {
      background: #e0e0e0; }

.video-central-playlist-video-column-group {
  padding-left: 140px; }
  .video-central-playlist-video-column-group:before, .video-central-playlist-video-column-group:after {
    content: " ";
    display: table; }
  .video-central-playlist-video-column-group:after {
    clear: both; }
  .video-central-playlist-video-column-group .video-central-playlist-video-column {
    float: left;
    width: 48%; }
    .video-central-playlist-video-column-group .video-central-playlist-video-column p {
      margin-top: 0; }
  .video-central-playlist-video-column-group .video-central-playlist-video-column-artwork {
    margin-left: -140px;
    width: 120px; }
  .video-central-playlist-video-column-group .video-central-playlist-video-column-right {
    float: right; }

.video-central-playlist-video-artwork {
  background-clip: padding-box;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  height: 120px;
  position: relative;
  width: 120px; }
  .video-central-playlist-video-artwork:before {
    color: #e5e5e5;
    content: "\f128";
    font-size: 30px;
    height: 100%;
    line-height: 120px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; }
  .video-central-playlist-video-artwork img {
    border-radius: 3px;
    display: block;
    height: 120px;
    width: 120px; }
  .video-central-playlist-video-artwork:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5); }
    .video-central-playlist-video-artwork:hover:before {
      color: #333; }
  .has-artwork .video-central-playlist-video-artwork:before {
    display: none; }

.video-central-playlist-video-actions {
  clear: both;
  line-height: 1;
  text-align: right; }
  .video-central-playlist-video-actions a {
    cursor: pointer; }
  .video-central-playlist-video-actions .video-central-playlist-video-remove:hover {
    color: #ff0000; }

/* Panel
-------------------------------------------------------------- */
.video-central-playlist-panel {
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px; }

.video-central-playlist-panel-body {
  padding: 14px; }
  .video-central-playlist-panel-body .form-table td {
    padding-top: 0;
    padding-bottom: 15px; }
  .video-central-playlist-panel-body .form-table th {
    padding-top: 5px;
    padding-bottom: 20px; }
  .video-central-playlist-panel-body .form-table tr:last-child td,
  .video-central-playlist-panel-body .form-table tr:last-child th {
    padding-bottom: 0; }
  .video-central-playlist-panel-body > :first-child {
    margin-top: 0; }
  .video-central-playlist-panel-body > :last-child {
    margin-bottom: 0;
    padding-bottom: 0; }

.video-central-playlist-panel-footer {
  background: #f7f7f7;
  border-top: 1px solid #dedede;
  padding: 14px; }

.video-central-playlist-panel-header {
  border-bottom: 1px solid #dedede;
  padding: 14px; }
  .video-central-playlist-panel-header:before, .video-central-playlist-panel-header:after {
    content: " ";
    display: table; }
  .video-central-playlist-panel-header:after {
    clear: both; }

.video-central-playlist-panel-title,
#poststuff .video-central-playlist-panel-title {
  font-size: 14px;
  margin: 0;
  padding: 0; }

#post-body-content > .video-central-playlist-panel:last-child {
  margin-bottom: 0; }

@media only screen and (max-width: 480px) {
  .video-central-playlist-video-title {
    padding-top: 15px;
    padding-bottom: 15px; }
    .video-central-playlist-video-title .video-central-playlist-video-toggle {
      font-size: 24px; }

  .video-central-playlist-video-audio .mejs-container .mejs-controls .mejs-currenttime,
  .video-central-playlist-video-audio .mejs-container .mejs-controls .mejs-duration {
    display: none; } }
@media only screen and (max-width: 768px) {
  .video-central-playlist-video-audio .mejs-container {
    margin-top: 5px; }
    .video-central-playlist-video-audio .mejs-container .mejs-controls .mejs-playpause-button {
      width: 40px; }
      .video-central-playlist-video-audio .mejs-container .mejs-controls .mejs-playpause-button button {
        font-size: 24px;
        width: 40px; } }
@media only screen and (max-width: 974px) {
  .video-central-playlist-video-column-group .video-central-playlist-video-column-left,
  .video-central-playlist-video-column-group .video-central-playlist-video-column-right {
    float: none;
    width: auto; } }
/** Video Central Browser **/
.video-central-videos-browser-list {
  margin: 0;
  overflow: auto;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 300px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.video-central-videos-browser-list-item {
  flex: 1 1 10%;
  padding: 8px;
  position: relative;
  width: 10%; }
  .video-central-videos-browser-list-item.selected {
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0073aa; }

.video-central-videos-media-thumbnail {
  background: #eee;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  position: relative;
  text-align: center; }
  .video-central-videos-media-thumbnail:before {
    content: "";
    display: block;
    padding-top: 100%; }
  .video-central-videos-media-thumbnail svg {
    fill: #82878c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 50%; }

.video-central-videos-media-thumbnail-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.video-central-videos-media-thumbnail-image img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.video-central-videos-media-thumbnail-title {
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  overflow: hidden;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  word-wrap: break-word; }

.video-central-videos-browser-empty {
  align-content: center;
  align-items: center;
  background: #fff;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 80; }
  .video-central-videos-browser-empty h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: 0; }
  .video-central-videos-browser-empty.is-visible {
    display: flex; }

.video-central-videos-media-toggle-button {
  background-color: #0073aa;
  border-radius: 0;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 24px;
  height: 24px;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  text-indent: -2px;
  width: 24px;
  z-index: 10; }
  .video-central-videos-media-toggle-button:hover {
    text-indent: 0; }
    .video-central-videos-media-toggle-button:hover:before {
      content: "\f460"; }
  .selected .video-central-videos-media-toggle-button {
    display: block; }

@media screen and (max-width: 1100px) {
  .video-central-videos-browser-list-item {
    width: 33.33%; } }
@media screen and (max-width: 768px) {
  .video-central-videos-browser-list {
    right: 200px; }

  .video-central-videos-browser-sidebar {
    width: 200px; }

  .video-central-videos-browser-list-item {
    width: 50%; } }
@media screen and (max-width: 480px) {
  .video-central-videos-browser-list-item {
    width: 100%; } }

/*# sourceMappingURL=playlist.css.map */
